<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">Max Fantasy</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/index">Home</a></li>
            <li><a href="/myTeam">MyTeam</a></li>
            <li><a href="/stats">Player Stats</a></li>
        </ul>
    </div>
</nav>