<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>

    <!-- For Google Sign in-->
    <meta name="google-signin-client_id"
        content="225358383782-6egbfm6sfsfl684m8hrblcu2je1e0nuq.apps.googleusercontent.com" />
    <!-- For Google API Sign in-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- 3 files below are for the use of bootstrap formatting-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js"
        integrity="sha512-eSeh0V+8U3qoxFnK3KgBsM69hrMOGMBy3CNxq/T4BArsSQJfKVsKb5joMqIPrNMjRQSTl4xG8oJRpgU2o9I7HQ=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"
        integrity="sha512-yVvxUQV0QESBt1SyZbNJMAwyKvFTLMyXSyBHDO4BG5t7k/Lw34tyqlSDlKIrIENIzCl+RVUNjmCPG+V/GMesRw=="
        crossorigin="anonymous" />



    <!-- html index file for project-->
    <title>Max Fantasy | <%= title %>
    </title>
    <style>
        body {
            padding: 1em;
            text-align: center;
            background-color: lightblue;
        }

        a {
            color: black;
            font-weight: bold;
        }

        a:hover {
            color: black;
            background-color: rgb(195, 238, 255);
            font-weight: bold;
        }

        h1 {
            color: black;
        }
    </style>

</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="row">
            <div class="col-sm-9"></div>
            <div class="g-signin2 col-sm-2" data-onsuccess="onSignIn"></div>
            <button class="btn col-sm-1" onclick="signOut()"><a href="index">Sign out</a></button>
        </div>
        <h3>Standard League</h3>
        <p><i>Only one team can be stored in a given account. If team has been built, delete old team to build new
                one</i></p>
        <br />

        <form id="form" method="POST">
            <p>League and Email Information</p>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">League:</p>
                <select name="LEAGUE" id="LEAGUE" class="col-sm-4">
                    <option value="Standard">Standard</option>
                </select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">Email:</p>
                <select name="userEmail" id="userEmail" class="col-sm-4">
                    <option id="loadUser" value=""></option>
                </select>
            </div>
            <p>Build Team</p>
            <p>Please pick players from drop downs to fill your team</p>
            <!-- QB drop down-->
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">QB:</p>
                <select class="chosen" name="QB" id="QB" class="col-sm-4"></select>
            </div>

            <!-- RB drop downs-->
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">RB:</p>
                <select name="RB1" id="RB1" class="col-sm-4"></select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">RB:</p>
                <select name="RB2" id="RB2" class="col-sm-4"></select>
            </div>

            <!-- WR drop downs-->
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">WR:</p>
                <select name="WR1" id="WR1" class="col-sm-4"></select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">WR:</p>
                <select name="WR2" id="WR2" class="col-sm-4"></select>
            </div>

            <!-- TE drop down-->
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">TE:</p>
                <select name="TE" id="TE" class="col-sm-4"></select>
            </div>

            <!--FLEX drop down-->
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">FLEX:</p>
                <select name="FLEX" id="FLEX" class="col-sm-4"></select>
            </div>

            <!--Defense drop down-->
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">DEFENSE:</p>
                <select name="DEFENSE" id="DEFENSE" class="col-sm-4"></select>
            </div>

            <!--Kicker drop down-->
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">K:</p>
                <select name="K" id="K" class="col-sm-4"></select>
            </div>

            <!-- Bench drop downs-->
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">BENCH:</p>
                <select name="BENCH1" id="BENCH1" class="col-sm-4"></select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">BENCH:</p>
                <select name="BENCH2" id="BENCH2" class="col-sm-4"></select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">BENCH:</p>
                <select name="BENCH3" id="BENCH3" class="col-sm-4"></select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">BENCH:</p>
                <select name="BENCH4" id="BENCH4" class="col-sm-4"></select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">BENCH:</p>
                <select name="BENCH5" id="BENCH5" class="col-sm-4"></select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">BENCH:</p>
                <select name="BENCH6" id="BENCH6" class="col-sm-4"></select>
            </div>
            <div class="row">
                <p class="col-sm-2"></p>
                <p class="col-sm-2">BENCH:</p>
                <select name="BENCH7" id="BENCH7" class="col-sm-4"></select>
            </div>
            <br />
            <button id="btnSave" class="btn btn-primary" onclick="submitTeam()" type="button">Save Team</button>

        </form>



        <script>
            // fetch nfl teams
            fetch('nfl_teams.json')
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    myJSON = data;

                    let defenses = document.getElementById("DEFENSE");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        myOption.text = obj.full_name;
                        myOption.value = obj.full_name;
                        defenses.add(myOption, null);
                    });
                    $('#DEFENSE').chosen();
                })
                .catch(function (error) {
                    console.log(error);
                }) // end of fetching


            // fetch json
            fetch('csvjson.json')
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    myJSON = data;

                    // load drop downs with proper players in position

                    // qb select
                    let qbSelect = document.getElementById("QB");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        if (obj.Position == "QB") {
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            qbSelect.add(myOption, null);
                        }
                        
                    });
                    $('#QB').chosen();

                    //rb selects
                    let rbSelect = document.getElementById("RB1");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        if (obj.Position == "RB") {
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            rbSelect.add(myOption, null);
                        }
                    });
                    $('#RB1').chosen();

                    let rb2Select = document.getElementById("RB2");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        if (obj.Position == "RB") {
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            rb2Select.add(myOption, null);
                        }
                    });
                    $('#RB2').chosen();

                    // wr selects
                    let wrSelect = document.getElementById("WR1");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        if (obj.Position == "WR") {
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            wrSelect.add(myOption, null);
                        }
                    });
                    $('#WR1').chosen();

                    let wr2Select = document.getElementById("WR2");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        if (obj.Position == "WR") {
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            wr2Select.add(myOption, null);
                        }
                    });
                    $('#WR2').chosen();


                    // te select
                    let teSelect = document.getElementById("TE");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        if (obj.Position == "TE") {
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            teSelect.add(myOption, null);
                        }
                    });
                    $('#TE').chosen();

                    // FLEX select
                    let flexSelect = document.getElementById("FLEX");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        if (obj.Position == "RB" || obj.Position == "WR" || obj.Position == "TE") {
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            flexSelect.add(myOption, null);
                        }
                    });
                    $('#FLEX').chosen();

                    // Kicker select
                    let kSelect = document.getElementById("K");
                    myJSON.map(function (obj, i) {
                        let myOption = document.createElement("option");
                        if (obj.Position == "SPEC") {
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            kSelect.add(myOption, null);
                        }
                    });
                    $('#K').chosen();


                    // BENCH selects
                    let b1Select = document.getElementById("BENCH1");
                    myJSON.map(function (obj, i) {
                        if (obj.Position == "QB" || obj.Position == "RB" || obj.Position == "WR" || obj.Position == "TE" || obj.Position == "SPEC") {
                            let myOption = document.createElement("option");
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            b1Select.add(myOption, null);
                        }
                    });
                    $('#BENCH1').chosen();

                    let b2Select = document.getElementById("BENCH2");
                    myJSON.map(function (obj, i) {
                        if (obj.Position == "QB" || obj.Position == "RB" || obj.Position == "WR" || obj.Position == "TE" || obj.Position == "SPEC") {
                            let myOption = document.createElement("option");
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            b2Select.add(myOption, null);
                        }
                    });
                    $('#BENCH2').chosen();

                    let b3Select = document.getElementById("BENCH3");
                    myJSON.map(function (obj, i) {
                        if (obj.Position == "QB" || obj.Position == "RB" || obj.Position == "WR" || obj.Position == "TE" || obj.Position == "SPEC") {
                            let myOption = document.createElement("option");
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            b3Select.add(myOption, null);
                        }
                    });
                    $('#BENCH3').chosen();

                    let b4Select = document.getElementById("BENCH4");
                    myJSON.map(function (obj, i) {
                        if (obj.Position == "QB" || obj.Position == "RB" || obj.Position == "WR" || obj.Position == "TE" || obj.Position == "SPEC") {
                            let myOption = document.createElement("option");
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            b4Select.add(myOption, null);
                        }
                    });
                    $('#BENCH4').chosen();

                    let b5Select = document.getElementById("BENCH5");
                    myJSON.map(function (obj, i) {
                        if (obj.Position == "QB" || obj.Position == "RB" || obj.Position == "WR" || obj.Position == "TE" || obj.Position == "SPEC") {
                            let myOption = document.createElement("option");
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            b5Select.add(myOption, null);
                        }
                    });
                    $('#BENCH5').chosen();

                    let b6Select = document.getElementById("BENCH6");
                    myJSON.map(function (obj, i) {
                        if (obj.Position == "QB" || obj.Position == "RB" || obj.Position == "WR" || obj.Position == "TE" || obj.Position == "SPEC") {
                            let myOption = document.createElement("option");
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            b6Select.add(myOption, null);
                        }
                    });
                    $('#BENCH6').chosen();

                    let b7Select = document.getElementById("BENCH7");
                    myJSON.map(function (obj, i) {
                        if (obj.Position == "QB" || obj.Position == "RB" || obj.Position == "WR" || obj.Position == "TE" || obj.Position == "SPEC") {
                            let myOption = document.createElement("option");
                            myOption.text = obj.Name;
                            myOption.value = obj.Name;
                            b7Select.add(myOption, null);
                        }
                    });
                    $('#BENCH7').chosen();

                })
                .catch(function (error) {
                    console.log(error);
                }) // end of fetching

            let teamSlots = ["QB", "RB1", "RB2", "WR1", "WR2", "TE", "FLEX", "DEFENSE", "K", "BENCH1", "BENCH2", "BENCH3", "BENCH4", "BENCH5", "BENCH6", "BENCH7"];

            function submitTeam() {
                let team = [];


                for (let i = 0; i < teamSlots.length; i++) {
                    let checking = document.getElementById(teamSlots[i]).value;
                    if (team.indexOf(checking) == -1) {
                        team.push(document.getElementById(teamSlots[i]).value);
                    } else {
                        alert("Players can only be used once in the team");
                        return;
                    }
                }
                document.getElementById("form").submit();


            }




            /*****
            function update() {
                document.getElementById("result").innerHTML = "";
                for (let i = 0; i < teamSlots.length; i++) {
                    document.getElementById(teamSlots[i]).disabled = false;
                }
            }
            *****/

            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                //console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

                document.getElementById("loadUser").value = profile.getEmail();
                document.getElementById("loadUser").innerHTML = profile.getEmail();
            }

            // For Sign Out
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
        </script>

</body>

</html>